:root{
    --primary-color: #1a8cd8;       
    --secondary-color: #5794f0;     
    --font-color: #333333;         

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.menu {
    list-style-type: none;
    box-shadow: 1px 1px 1px #00000038;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    padding: 10px 30px;
    background-color: #fff;
}

.menu > div h1 {
    margin-left: 102px;
    font-size: 24pt;
    color: #333;
}

.menu > ul {
    display: flex;
    gap: 20px;
    list-style: none; 
}

.tags-ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
}

.menu > ul > li {
    position: relative;
}

.menu > ul > li > a {
    color: #333;
    font-size: 16px;
    text-decoration: none;
    padding: 8px 15px;
    transition: color 0.3s ease;
    display: inline-block;
    font-weight: 800;
}

.menu > ul > li > a:hover {
    color: var(--secondary-color);
}


.menu > ul > li > a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color); 
    transition: width 0.4s ease-in-out; 
}

.menu > ul > li > a:hover::after {
    width: 100%;
    background-color: var(--primary-color); 
}


.corpo {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
    padding: 50px;
    max-width: 90vw;
    margin: 0 auto;
}


.posts-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post img {
    width: 100%;
    height: 80vh;
    border-radius: 8px;
}

.post h2 {
    font-size: 1.5em;
    margin-top: 10px;
    color: #333;
}

.post p {
    font-size: 1em;
    color: #666;
    line-height: 1.6;
}


.menu-lateral {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.menu-lateral section {
    padding: 15px;
    border: 1px solid #ddd;
    padding: 30px;
    height: 24.65vh;
    border-radius: 8px;
    background: transparent;
}

details>summary::-webkit-details-marker{
    display: none;
}

details>summary{
    list-style-type: none;
    cursor: pointer;
}

.menu-lateral h1 {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 10px;
}

#pesquisa {
    display: flex;
    gap: 5px;
}

#pesquisa input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#pesquisa button {
    padding: 8px;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: .4s;
}

#pesquisa button:hover {
    background-color: var(--secondary-color);
}

.categorias ul, .tags ul {
    list-style: none;
    padding: 0;
}

.post>h3{
    margin-top: 30px;
    margin-bottom: 45px;
}

.categorias li, .tags li {
    color: #333;
    padding: 5px 0;
    cursor: pointer;
    transition: color 0.3s ease;
}

.tags li{
    background-color: #555;
    padding: 8px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
    color: white;
    border-radius: 7px;
    transition: .4s;
}

.categorias li:hover {
    color: var(--primary-color);
}

.tags li:hover{
    background-color: var(--primary-color);
}
